<div>
  <div>
  <%= form.label :name, "Collection name" %>
  <%= form.text_field :name %>
  </div>

  <% if @collection.dig_code %>
    <div>
      DIG code: <%= @collection.dig_code %>
    </div>
  <% end %>

  <div>
    <%= form.label :description, "Editorial Description (can contain HTML)" %>
    <%= form.text_area :description, class: 'count-words' %>
    <div>Word count: <span class="word-count"><%= @collection.description.to_s.split(/\s+/).length %></span></div>
  </div>

</div>