<h1>Edit a collection</h1>
<div class="row">
  <div>
  <%= form.label :name, "Collection name" %>  
  <%= form.text_field :name %>

  <% if @collection.dig_code %>
    
      DIG code: <code><%= @collection.dig_code %></code>
    
  <% elsif !@collection.new_record? %>
    <div>
      Slug: <code><%= @collection.slug %></code>
    </div>
  <% end %>
  </div>

  <div>
    <%= form.label :description, "Short description (can contain HTML)" %>
    <%= form.text_area :description, class: 'count-words' %>
    <span class="word-count"><%= @collection.description.to_s.split(/\s+/).length %></span> words
  </div>

</div>