<% content_for :title, @collection.name %>

<h6><a href="/collections">Collections</a> &rarr; </h6>

<h1><%= @collection.name %></h1>

<% if logged_in_as_admin? %>
  <p>
    <%= link_to 'Edit this Collection?', edit_collection_path(@collection), class: "is-admin" %>
  </p>
<% end %>

	<div class="row breathe">
		<div class="three columns">

			<h4 style="margin-bottom:0;"><%= pluralize_with_delimiter(@collection.records_count, 'item') %></h4>

      <div class="lil-vis">
        <div class="digitised">
        <div class="percent-done" style="width: <%= (100 * @collection.digitized_records_count.to_f / @collection.records_count) %>%;">&nbsp;</div>
        </div>
        <%= percentage_with_varying_accuracy(@collection.digitized_records_count.to_f / @collection.records_count) %>  digitised
      </div>

		</div>
		<div class="nine columns">
			<div class="row breathe">
				<div class="one column right">
					<h6>Mostly</h6>
				</div>
				<div class="eleven columns">
					<span style="color:red">
					<!-- /collections/collection/types/type -->
					<% @types.each do |type| %>
					   <%= link_to type.name, type_path(type) %> <%= type['records_in_type_count'] %>
					<% end %>
					</span>
				</div>
			</div>
<% if @subjects.length > 0 %>
			<div class="row breathe">
				<div class="one column right">
					<h6>About</h6>
				</div>
				<div class="eleven columns">
					<%= @subjects.collect do |subject| %>
				    <% link_to subject.label, collection_subject_path(@collection, subject) %>
    				<% end.join(', ').html_safe %>
    				<br />
					<b><%= link_to 'View&#160;all'.html_safe, collection_subjects_path(@collection) %></b>
				</div>
			</div>
<% end %>
<% if @people.length > 0 %>
			<div class="row breathe">
				<div class="one column right">
					<h6>By</h6>
				</div>
				<div class="eleven columns">
				<span>

				<%= @people.collect do |person| %>
				    <% link_to person.name, collection_person_path(@collection, "P#{person.id}") %>
			    <% end.join(', ').html_safe %>
			    </span> <b><%= link_to 'View&#160;all'.html_safe, collection_people_path(@collection) %></b>
				</div>
			</div>
<% end %>
		</div>
	</div>


<% @records.each do |thing| %>
  <div class="cover-box">
    <div class="cover">
      <%= link_to thing_path(thing), title: thing.title do %>
        <% if thing.cover_image_url %>
          <%= image_tag thing.cover_image_url(150,300) %>
        <% else %>
          <%= thing.title %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>