<% content_for :title, "Log in" %>
<h1>Log in</h1>

<p>Hi. Only Wellcome staff can log in for now. Cheers.</p>
<%= form_tag session_path do %>

  <%= label_tag :email, 'e-mail address' %>
  <%= email_field_tag :email %>

  <%= label_tag :password, 'password' %>
  <%= password_field_tag :password %>

  <% if params[:return_to] %>
    <%= hidden_field_tag :return_to, params[:return_to] %>
  <% end %>

  <button type="submit">GO!</button>

<% end %>