<% content_for :title, "Recent changes" %>
<h1>
</h1>
<table width="100%" cellspacing="0">
	<tr>
		<th>What</th>
		<th></th>
		<th>Who</th>
		<th>When</th>
	</tr>
<% @recent_changes.each do |recent_change| %>
	<tr>
		<td>
<% if recent_change.thing == 'subject' %>
<%= link_to recent_change.thing_name, subject_path(recent_change.thing_id) %>
<% elsif recent_change.thing == 'person' %>
<%= link_to recent_change.thing_name, person_path(recent_change.thing_id) %>
<% end %>
		</td>
		<td>
<%= recent_change.field %>
		</td>
		<td>
<%= recent_change.updated_by_email %>
		</td>
		<td>
<%= time_ago_in_words(recent_change.updated_at) %> ago
		</td>
	</tr>
<% end %>
</table>
