<% content_for :title, @person.name %>

<h1><%= link_to @person.name, @person %> / Editorial</h1>

<div class="row">
	<div class="four columns">
	
	<ul>
		<li>Some HTML is OK
			<ul>
				<li>&lt;b&gt;bold&lt;/b&gt;</li>
				<li>&lt;i&gt;italic&lt;/i&gt;</li>
				<li>&lt;a href=""&gt;link&lt;/a&gt;</li>
			</ul>
		</li>
	
	<% if @person.editorial %>
	  	<li>Last updated <%= time_ago_in_words(@person.editorial_updated_at) %> ago by <%= @person.editorial_updated_by.email %></li>
	<% end %>
	</ul>
	</div>
	<div class="offset-by-one seven columns">

<%= form_for @person, url: person_editorial_path(@person) do |form| %>

	<div class="editorial">
	  <div>
		<%= form.label :editorial_title, "Title" %>
		<%= form.text_field :editorial_title %>
	  </div>

	  <div>
		<%= form.label :editorial_content, "Content" %>
		<%= form.text_area :editorial_content %>
	  </div>
	</div>
  <button type="submit">Update</button>
<% end %>
	</div>
</div>