<% content_for :title, "People" %>
<h1>People</h1>

<%= form_tag people_lookup_index_path, method: :get, enforce_utf8: false do %>
  <%= text_field_tag :name %>
  <%= content_tag 'button', "search" %>
<% end %>

  <% @top_people.each do |person| %>

  <div class="circle">

    <% if person.wikipedia_image %>
      <% style = "background-image: url('#{person.wikipedia_image}');" %>
    <% end %>
    <%= link_to person.name, person, class: 'bg-link', style: style, title: pluralize(person.records_count, 'thing') %>
    <%= link_to person.name, person, class: 'name', title: pluralize(person.records_count, 'thing') %>
  </div>

  <% end %>
