<% content_for :title, "People" %>
<h1>People</h1>

<%= form_tag people_lookup_index_path, method: :get, enforce_utf8: false do %>
  <%= search_field_tag :name, '', autocomplete: 'off' %>
  <%= content_tag 'button', "lookup" %>
<% end %>

  <% @top_people.each do |person| %>

  <div class="circle">

    <% if person.wikipedia_image %>
      <% style = "background-image: url('#{person.wikipedia_image}');" %>
    <% end %>
    <%= link_to person.name, person, class: 'bg-link', style: style, title: pluralize(person.records_count, 'thing') %>
    <%= link_to person.name, person, class: 'name', title: pluralize(person.records_count, 'thing') %>
  </div>

  <% end %>

<!-- Pagination -->

<div class="row pagination">
  <div class="four columns">&nbsp;</div>
  <div class="four columns center">
    <button>Previous</button>&nbsp;&nbsp;<button>Next</button>
    <br />
    <small>246,345 results &bull; Page 2 of 4,567</small>
  </div>
  <div class="four columns">&nbsp;</div>  
</div>
