<div class="row">
  <div class="two columns">
    <div class="person-portrait"></div>
  </div>
  <div class="ten columns">
    <h1><%= @person.name %></h1>
    <% if @person.born_in || @person.died_in %>
      <p class="dates"><%= @person.born_in %>-<%= @person.died_in %></p>
    <% end %>
    <% if @person.identifiers['wikipedia_en'] %>
      <p>
        Bio from Wikipedia; first sentence. <br />
        <%= link_to "Wikipedia", "https://en.wikipedia.org/wiki/#{@person.identifiers['wikipedia_en']}" %>
      </p>
    <% end %>
  </div>
</div>

<% if @co_authors.length > 0 %>
  <p>Co-authors:
    <% @co_authors.each do |author| %>
      <%= link_to author.name, person_path(author) %> (<%= pluralize(author.count, 'thing') %>)
    <% end %>
  </p>
<% end %>

<% if @contemporaries && @contemporaries.length > 0 %>
  <p>Contemporaries:
    <% @contemporaries.each do |author| %>
      <%= link_to author.name, person_path(author) %>
    <% end %>
  </p>
<% end %>

<p>As an author, is represented on <%= pluralize(@person.records_count, 'thing') %>:</p>

<% @things.each do |thing| %>
  <div class="cover">
    <%= link_to thing_path(thing) do %>
      <% if thing.image_service_urls.length > 0 %>
        <%= image_tag thing.image_service_urls.first + "/full/!150,300/0/default.jpg" %>
      <% else %>
        <%= thing.title %>
      <% end %>
    <% end %>
  </div>
<% end %>

<br clear="all" />
<br clear="all" />

<h2>Identifiers</h2>

<table>
  <% @person.identifiers.each_pair do |key, value| %>
    <tr>
      <td><%= key %></td>
      <td><%= value %></td>
  <% end %>
</table>
