<div class="row">
  <div class="two columns center" style="padding-bottom:20px;">
    <div class="person-portrait"></div>
  </div>
  <div class="ten columns bio">
    <h1><%= @person.name %></h1>
    <p>
      <% if @person.born_in || @person.died_in %>
        <span class="dates"><%= @person.born_in %>-<%= @person.died_in %></span><br />
      <% end %>
      <% if @person.identifiers['wikipedia_en'] %>
        Georg Wolfgang Wedel (12 November 1645 – 6 September 1721) was a German professor of surgery, botany, theoretical and practical medicine, and chemistry.
        <small><%= link_to "Wikipedia", "https://en.wikipedia.org/wiki/#{@person.identifiers['wikipedia_en']}" %></small>
      <% else %>
        <span class="nogo">There was no LC ID for this author in the database, so we couldn't connect to Wikipedia.</span>
      <% end %>
    </p>
    <h4>Subjects</h4>
    <p><a href="/subjects/123">Subject</a> <a href="/subjects/123">Subject</a> <a href="/subjects/123">Subject</a> <a href="/subjects/123">Subject</a> <a href="/subjects/123">Subject</a> <a href="/subjects/123">Subject</a></p>
    
    <h4>Timeline</h4>

<% years = {} %>

  <% @publication_years.each do |year| %>
    <% years[year[0].gsub(' ', '?')] = pluralize(year[1], '') %>
  <% end %>

  <% if @person.born_in %>
    <% years[@person.born_in.to_s] = "born" %>
  <% end %>

  <% if @person.died_in %>
    <% years[@person.died_in.to_s] = "died" %>
  <% end %>


  <% years.sort_by {|k,v| k}.each do |year| %>
    <div class="year-container center" style="width:40px; float:left;">
      <div class="year"><small><%= year[0] %></small></div>
      <div class="thing"><small><%= year[1] %></small></div>
    </div>
  <% end %>


  <ul style="display:none">
    <% years.sort_by {|k,v| k}.each do |year| %>
      <li><%= year[0] %> – <%= year[1] %></li>
    <% end %>
  </ul>
  </div>
</div>

<br clear="all" />

<div class="row">
  <div class="five columns"><h2>Things by this Author</h2></div>
  <div class="four columns">
    <small>
      <%= pluralize(@person.records_count, 'thing') %> &bull;
      <%= percentage_with_varying_accuracy(@digitized_count.to_f / @person.records_count) %>  digitised
    </small>
  </div>
  <div class="three columns">
		<div class="digitised" style="height:5px;background-color:black">
			<div class="percent-done" style="background-color:white; width: <%= proportion * 100 %>%;"></div>
		</div>
  </div>
</div> 
<% @things.each do |thing| %>
  <div class="cover-box">
    <div class="cover">
      <%= link_to thing_path(thing) do %>
        <% if thing.image_service_urls.length > 0 %>
          <%= image_tag thing.image_service_urls.first + "/full/!150,300/0/default.jpg" %>
        <% else %>
          <%= thing.title %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<% if @co_authors.length > 0 %>
  <h3>Co-authors</h3>
  <p>
    <% @co_authors.each do |author| %>
      <%= link_to author.name, person_path(author) %> (<%= pluralize(author.count, 'thing') %>)
    <% end %>
  </p>
<% end %>

<% if @contemporaries && @contemporaries.length > 0 %>
  <h3>Contemporaries</h3>
  <p>
    <% @contemporaries.each do |author| %>
      <%= link_to author.name, person_path(author) %>
    <% end %>
  </p>
<% end %>

<br clear="all" />

<h2>Identifiers</h2>

<table>
  <% @person.identifiers.each_pair do |key, value| %>
    <tr>
      <td><%= key %></td>
      <td><%= value %></td>
  <% end %>
</table>
