<% content_for :title, "Page #{@page} of #{@thing.image_service_urls.length} - #{@thing.title}" %>

<h6 style="margin-bottom: 0"><%= link_to @thing.title, thing_path(@thing) %> /</h6>
<h4 style="margin-top: 0">Page <%= @page %></h4>

<div>
  <p>Pages:
    <% @thing.image_service_urls.each_with_index do |image, index| %>
      <%= link_to_unless_current index + 1, thing_page_path(@thing, index + 1) %>
    <% end %>
  </p>
</div>

<% if @page < @thing.image_service_urls.length %>

  <%= link_to thing_page_path(@thing, @page + 1) do %>
    <img src="<%= @image %>/full/!1600,1600/0/default.jpg" style="max-width: 100%;">
  <% end %>

<% else %>
  <img src="<%= @image %>/full/!1600,1600/0/default.jpg" style="max-width: 100%;">
<% end %>

