<% content_for :title, @thing.title %>

<% content_for :head do %>

  <meta name="twitter:card" content="product">
  <meta property="og:type" content="article" />

  <meta name="twitter:title" content="<%= @thing.title %>">
  <meta property="og:title" content="<%= @thing.title %>" />

  <% if @thing.cover_image_url %>
    <meta name="twitter:image" content="<%= @thing.cover_image_url(1800,1800) %>">
    <meta property="og:image" content="<%= @thing.cover_image_url(1800,1800) %>" />
  <% end %>

  <% if @thing.year %>
    <meta name="twitter:label1" content="Year of publication">
    <meta name="twitter:data1" content="<%= @thing.year %>">
  <% end %>

  <% if @thing.people.length == 1 %>
    <meta name="twitter:label2" content="Author">
    <meta name="twitter:data2" content="<%= @thing.people.first.name %>">
  <% elsif @thing.people.length > 1 %>
    <meta name="twitter:label2" content="Authors">
    <meta name="twitter:data2" content="<%= @thing.people.collect(&:name).to_sentence %>">
  <% end %>

  <% if @thing.summary %>
    <meta name="twitter:description" content="<%= truncate(@thing.summary, length: 300, separator: ' ') %>" />
    <meta property="og:description" content="<%= truncate(@thing.summary, length: 300, separator: ' ') %>" />
  <% end %>

  <meta property="og:url" content="<%= thing_url(@thing) %>" />

<% end %>

<% if @thing.collections.size > 0 %>
<div class="row">
	<div class="two columns">
		<h6>Collection<% if @thing.collections.size > 1 %>s<% end %> &rarr;</h6>
	</div>
	<div class="ten columns">
		<%= @thing.collections.collect {|collection| link_to(collection.name, collection) }.join(', ').html_safe %>
	</div>
</div>
<% end %>

<% if @thing.archives_tree.size > 0 %>
<div class="row">
	<div class="two columns">
		<h6>Archive &rarr;</h6>
	</div>
	<div class="ten columns">
		<%= @thing.archives_tree.collect do |record|  %>
		  <% link_to record.title, thing_path(record) %>
		<% end.join(' / ').html_safe %>
	</div>
</div>
<% end %>

<% if @thing.people.length > 0 %>
  <div class="row author">
    <div class="twelve columns big">
      <p>
        <%= @thing.people.collect do |person| %>
          <% link_to person.name, person %>
        <% end.to_sentence.html_safe %>
        /
      </p>
    </div>
  </div>
<% end %>

<h1><%= @thing.title %></h1>

<% if @thing.pdf_file %>

  <embed src="<%= @thing.pdf_file %>" width="100%" height="600" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">

<% elsif @thing.image_urls.length > 0 %>

    <% url = @thing.image_urls(2000, 2000).first %>
    <%= link_to thing_page_path(@thing, 1) do %>
      <%= image_tag url, style: 'width: 100%;' %>
    <% end %>

  <% @thing.image_service_urls.drop(1).each_with_index do |image_service_url, page| %>
    <%= link_to thing_page_path(@thing.to_param, page + 1) do %>
      <%= image_tag "#{image_service_url}/full/!200,200/0/default.jpg", style: 'width: auto;' %>
    <% end %>
  <% end %>

<% else %>

  <p class="big">This thing hasn’t been digitized (yet), we think. You can access the physical item in the library via <a href="http://search.wellcomelibrary.org/iii/encore/record/C__R<%= @thing.identifier[0..-2] %>">full catalogue record</a>.</p>

<% end %>

<hr />
<div class="row">
	<div class="four columns">
	<% if @thing.types.size > 0 %>
		  <h6>Material/Type</h6>
		  <p><%= @thing.types.collect {|type| link_to(type.name, type) }.join(', ').html_safe %></p>
	<% end %>

	<% if @subjects.length > 0 || @people_as_subjects.length > 0 %>
		<h6>About</h6>
		<p>
		<%= (@people_as_subjects + @subjects).collect do |subject| %>
		  <% if Person === subject %>
        <% link_to subject.name, person_as_subject_path(subject) %>
      <% else %>
        <% link_to subject.label, subject %>
      <% end %>
		<% end.to_sentence(last_word_connector: ' and ').html_safe %>
		</p>
	<% end %>

		<h6>Links</h5>
		<ul>
      <% if @thing.digitized? %>
        <li><a href="http://wellcomelibrary.org/item/<%= @thing.identifier %>">Open in deep-zoom viewer</a></li>
      <% end %>
			<li><a href="http://search.wellcomelibrary.org/iii/encore/record/C__R<%= @thing.identifier[0..-2] %>">View detailed library catalogue record</a><br />
			<small>You can request the book for reference, if you're a Wellcome Library member.</small></li>
			<li><%= link_to "JSON data", thing_path(format: :json) %></li>
		</ul>

    <% if @child_records.try(:length).to_i > 0 %>
      <h6>Go deeper</h6>

      <ul>
        <% @child_records.each do |record| %>
          <li><%= link_to record.title, thing_path(record) %></li>
        <% end %>
      </ul>

    <% end %>

	</div>

	<div class="offset-by-one seven columns">

      <!-- MaRC 520 -->
      <h5>Summary</h5>
<% if @thing.summary %>
        <p><%= @thing.summary.html_safe %></p>
<% else %>
		<p>None that we have found. (That doesn't mean there isn't one.)</p>
<% end %>

      <!-- MaRC 545 -->
      <h5>What else?</h5>
<% if @thing.about %>
        <p><%= @thing.about.html_safe %></p>
<% else %>
		<p>We didn't find a description of this. (That doesn't mean there isn't one.)</p>
<% end %>

	<ul>
<% if @thing.year || @thing.publishers %>
	  <li>Published
		<% if @thing.year %>in <%= @thing.year %><% end %>
		<% if @thing.publishers %>by <%= @thing.publishers.to_sentence %><% end %>
	  </li>
<% end %>



	</ul>
	</div>
</div>
