<% content_for :title, @thing.title %>

<% if @thing.people.length > 0 %>
  <div class="row author">
    <div class="twelve columns big">
      <p>
        <%= @thing.people.collect do |person| %>
          <% link_to person.name, person %>
        <% end.to_sentence.html_safe %>
        /
      </p>
    </div>
  </div>
<% end %>

<h1><%= @thing.title %></h1>

<% if @subjects.length > 0 %>
  <div class="row">
    <div class="two columns"><h4>Subjects</h4></div>
    <div class="ten columns big">
      <p>
        <%= @subjects.collect do |subject| %>
          <% link_to subject.label, subject %>
        <% end.to_sentence.html_safe %>
      </p>
    </div>
  </div>
<% end %>

<% if @thing.year || @thing.publishers %>
  <p>Published
    <% if @thing.year %>in <%= @thing.year %><% end %>
    <% if @thing.publishers %>by <%= @thing.publishers.to_sentence %><% end %>
  </p>
<% end %>

<% if @thing.image_urls.length > 0 %>
  <div style="width: 100%;background-color:#666;">
    <% url = @thing.image_urls(size: 2000).first %>
    <%= link_to url do %>
      <%= image_tag url, style: 'width: 100%;' %>
    <% end %>
  </div>

  <% @thing.image_service_urls.drop(1).each do |image_service_url| %>
    <%= link_to "#{image_service_url}/full/!800,800/0/default.jpg" do %>
      <%= image_tag "#{image_service_url}/full/!200,200/0/default.jpg", style: 'width: auto;' %>
    <% end %>
  <% end %>

<% else %>
  <div class="row">
    <div class="twelve columns big">
  		<p class="nogo">This thing hasn’t been digitized (yet), we think.</p>
		</div>
	</div>
<% end %>

<br clear="all" />
<br clear="all" />

<div class="row nerds" style="clear: both;">
  <div class="two columns">
    <h5>Data & IDs</h5>
  </div>
  <div class="ten columns">
  	<table>
  	    <tr>
  	      <td>Week 1 View</td>
  	      <td>
  	      	<a href="http://scope.whatsinthelibrary.com/<%= @thing.identifier %>"><%= @thing.identifier %></a> (view the metadata record)
  	      </td>
  	   </tr>
  	    <tr>
  	      <td>Wellcome Library</td>
  	      <td>
  	      	<% if @thing.image_urls.length > 0 %>
  	      		<a href="http://wellcomelibrary.org/player/<%= @thing.identifier %>"><%= @thing.identifier %></a>
  	      	<% else %>
  	      		<%= @thing.identifier %>
  	      	<% end %>
  	      	</td>
  	   </tr>
  	</table>
	</div>
</div>
