<% content_for :title, "Types of thing" %>

<h1>Types of thing</h1>

  <%= render 'types/search', {value: ''} %>
  
  <hr />

  <p>Order: <%= link_to_unless(@order == 'digitized', 'Digitized things', types_path(order: 'digitized')) %> | <%= link_to_unless_current('Total things', types_path(order: 'records')) %></p>

  <% @types.each do |type| %>
    <div style=" float: left; height: 100px; width: 22%; list-style: none; padding: 0 27px 10px 0;">


    	<h6 style="margin-bottom:0; padding: 3px; background-color: white;">
        <%= link_to type.name, type %>
        <span class="count"><%= pluralize_with_delimiter(type.records_count, 'thing') %></span>
      </h6>

      <%= digitized_graph(type.digitized_records_count, type.records_count) %>

    </div>
  <% end %>
