<% content_for :title, "Types of thing" %>

<h1>Types of thing</h1>

  <%= render 'types/search', {value: ''} %>
  
  <hr />

  <p>Sort order: <%= link_to_unless(@order == 'digitized', '[ % digitised ]', types_path(order: 'digitized')) %> or <%= link_to_unless_current('[ total number ]', types_path(order: 'records')) %>?</p>

  <% @types.each do |type| %>
    <div class="types-list">
		<h6 class="type-name"><%= link_to type.name, type %></h6>

		<%= digitized_graph(type.digitized_records_count, type.records_count, true) %>

    </div>
  <% end %>
