<% content_for :title, @type.name %>

<h1><%= @type.name %></h1>

<p><%= pluralize_with_delimiter(@type.records_count, 'record') %></p>

<% @records.each do |record| %>
  <div class="cover-box">
    <div class="cover">
      <%= link_to thing_path(record), title: record.title do %>
        <% if record.cover_image_url %>
          <%= image_tag record.cover_image_url(150,300) %>
        <% else %>
          <%= record.title %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<ul>
  <% @records.each do |record| %>

    <li><%= link_to record.title, thing_path(record) %></li>

  <% end %>
</ul>

