<% content_for :title, @type.name %>
<h6><a href="/types">Types</a> &rarr;</h6>
<h1><%= @type.name %></h1>

	<div class="row breathe">
		<div class="three columns">

			<h4 style="margin-bottom:0;"><%= pluralize_with_delimiter(@type.records_count, 'item') %></h4>

			<div class="lil-vis">
			  <div class="digitised">
				<div class="percent-done" style="width:<%= (100 * @type.digitized_records_count.to_f / @type.records_count) %>%;">&nbsp;</div>
			  </div>
			  <%= percentage_with_varying_accuracy(@type.digitized_records_count.to_f / @type.records_count) %>  digitised
			</div>

		</div>

		<div class="nine columns">
<!-- if subjects > 0 -->
			<div class="row breathe">
				<div class="one column right">
					<h6>About</h6>
				</div>
				<div class="eleven columns">
					<%= @subjects.collect {|s| link_to(s.label, type_subject_path(@type,s)) }.join(', ').html_safe %>
    				<br />
					<b><%= link_to 'View all', type_subjects_path(@type) %></b>
				</div>
			</div>
<!-- if people > 0 -->
			<div class="row breathe">
				<div class="one column right">
					<h6>By</h6>
				</div>
				<div class="eleven columns">
          <%= @people.collect {|p| link_to(p.name, type_person_path(@type, p)) }.join(', ').html_safe %>
    				<br />
					<b><%= link_to 'View all', type_people_path(@type) %></b>
				</div>
			</div>
		</div>
	</div>
	
  <% if @year_counts.length > 0 %>
    <%= render 'subjects/by_year', years: @year_counts, subject: nil, highlighted_year: nil %>
  <% end %>	

<% @records.each do |record| %>
  <%= render 'records/record', record: record %>
<% end %>
