<% content_for :title, @type.name %>

<h1><%= @type.name %></h1>

<% if @type.records_count > 0 %>
  <div class="row">
    <div class="nine columns">
      <h2><%= pluralize_with_delimiter(@type.records_count, 'record') %></h2>
    </div>
    <div class="three columns">
  	little digitisation bar graph
  	<div class="lil-vis">
      <div class="digitised">
        <div class="percent-done" style="width: <%= (100 * @type.digitized_records_count.to_f / @type.records_count) %>%;">&nbsp;</div>
      </div>
      <%= percentage_with_varying_accuracy(@type.digitized_records_count.to_f / @type.records_count) %>  digitised
  	</div>
    </div>
  </div>
<% end %>

<% if @subjects.length > 0 %>
  <p>Subjects:
    <%= @subjects.collect {|s| link_to(s.label, s) }.join(', ').html_safe %>
  </p>
<% end %>

<% @records.each do |record| %>
  <%= render record %>
<% end %>
