<% content_for :title, @type.name %>
<h6><a href="/types">Types</a> &rarr;</h6>


<% if logged_in_as_admin? %>
  <div class="hilite">
    <%= form_for @type do |form| %>
      <%= form.hidden_field :highlighted, value: !@type.highlighted %>
      <button type="submit" class="is-admin" title="Add this to the list of interesting types"><%= @type.highlighted ? 'Remove from /types' : 'Add to /types' %></button>
    <% end %>
  </div>
<% end %>

<h1><%= @type.name %></h1>

	<div class="row breathe">
		<div class="three columns">

			<h4 style="margin-bottom:0;"><%= pluralize_with_delimiter(@type.records_count, 'thing') %></h4>

      <%= digitized_graph(@type.digitized_records_count, @type.records_count) %>

		</div>

		<div class="nine columns">
<!-- if subjects > 0 -->
			<div class="row breathe">
				<div class="two columns right">
					<h6>About</h6>
				</div>
				<div class="ten columns">
					<%= @subjects.collect {|s| link_to(s.label, type_subject_path(@type,s)) }.join(', ').html_safe %>
    				<br />
					<b><%= link_to 'View all', type_subjects_path(@type) %></b>
				</div>
			</div>
<!-- if people > 0 -->
			<div class="row breathe">
				<div class="two columns right">
					<h6>By</h6>
				</div>
				<div class="ten columns">
          <%= @people.collect {|p| link_to(p.name, type_person_path(@type, p)) }.join(', ').html_safe %>
    				<br />
					<b><%= link_to 'View all', type_people_path(@type) %></b>
				</div>
			</div>
		</div>
	</div>

  <% if @year_counts.length > 0 %>
    <%= render 'subjects/by_year', years: @year_counts, subject: nil, highlighted_year: nil %>
  <% end %>

<% @records.each do |record| %>
  <%= render 'records/record', record: record %>
<% end %>
