<% content_for :title, "Add an admin user" %>
<h1>Add an Editor</h1>

<%= form_for @user do |form| %>

  <%= form.label :email, 'e-mail address' %>
  <%= form.email_field :email %>

  <%= form.label :password, 'password' %>
  <%= form.password_field :password %>

  <button type="submit">Add!</button>

<% end %>