<%= form_tag subjects_lookup_index_path, method: :get, enforce_utf8: false do %>
  <%= search_field_tag :label, @label, autocomplete: 'off' %>
  <%= content_tag 'button', "lookup" %>
<% end %>

<ul class="results">
  <% @subjects.each do |subject| %>
    <li>
      <%= link_to subject.label, subject %> - <%= pluralize_with_delimiter(subject.records_count, 'thing') %>
    </li>
  <% end %>
</ul>