<% real_years = [] %>

<% years.each do |y|
  if y[0] =~ /\d{4}/ && y[0] < (Time.now.year + 1).to_s && y[0] != "0000"
    real_years << y
  end
end
%>

<% if real_years.length > 0 %>

  <div class"row">
    <div class="twelve columns">

      <% years_hash = real_years.to_h %>

      <div class="count-bars-values">
        <% real_years.first[0].upto(real_years.last[0]).each_with_index do |year, index| %>
          <div class="value <%= 'highlighted' if year == highlighted_year %> <%= 'zero' if years_hash[year].to_i == 0 %>"><span><%= years_hash[year].to_i %></span></div>
        <% end %>
      </div>

      <div class="count-bars">

        <%
          maximum_height = 150
          maximum_count = real_years.map { |year| year[1] }.max || 1
          vertical_scale_factor = maximum_height.to_f / maximum_count
        %>

        <% real_years.first[0].upto(real_years.last[0]).each do |year| %>
          <%= content_tag (years_hash[year].to_i.zero? ? :div : :a), href: year_subject_path(subject, year), class: "bar #{'highlighted' if year == highlighted_year}" do %>
            <%= content_tag :span, '', class: "box undigitised", style: "height: #{years_hash[year].to_i * vertical_scale_factor}px;" %>
          <% end %>
        <% end %>
      </div>


      <div class="count-bars-labels">
        <% real_years.first[0].upto(real_years.last[0]).each_with_index do |year, index| %>
          <div class="label <%= 'always-show' if index == 0 || year == real_years.last[0] %> <%= 'highlighted' if year == highlighted_year %>"><span><%= year %></span></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class"row">
    <div class="twelve columns center">
      <p>This graph shows publishing history of materials in the Wellcome Library on this subject.</p>
    </div>
  </div>
  <br clear="all" />

  <script>
    initPublicationGraph();
  </script>
<% end %>
