<% content_for :title, "Subjects" %>

<% content_for :head do %>
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@wellcomelibrary" />
  <meta name="twitter:title" content="Explore the Wellcome Library collection" />
  <% if @subject.description %>
    <meta name="twitter:description" content="Find out what's in the library by browsing around the major concepts of the scientific endeavour itself, exploring subjects and authors in the Wellcome Library." />
  <% end %>
  <meta property="og:title" content="Explore the Wellcome Library collection" />
  <meta property="og:description" content="Find out what's in the library by browsing around the major concepts of the scientific endeavour itself, exploring subjects and authors in the Wellcome Library." />
  <meta property="article:author" content="Good, Form & Spectacle (gfns.uk), for The Wellcome Trust" />
<% end %>

<h1>Subjects</h1>

<%= form_tag subjects_lookup_index_path, method: :get, enforce_utf8: false do %>
  <%= search_field_tag :label, '', autocomplete: 'off', class: 'subjects-search' %>
  <%= content_tag 'button', "lookup" %>
<% end %>

<ol>
  <% @top_subjects.each do |subject| %>
    <li><%= link_to subject.label, subject %> – <%= pluralize_with_delimiter(subject.records_count, 'thing') %></li>
  <% end %>
</ol>

<!-- Pagination -->

<div class="row pagination">
  <div class="four columns">&nbsp;</div>
  <div class="four columns center">
    <button>Previous</button>&nbsp;&nbsp;<button>Next</button>
    <br />
    <small>246,345 results &bull; Page 2 of 4,567</small>
  </div>
  <div class="four columns">&nbsp;</div>  
</div>
