<% content_for :title, "Subjects" %>

<h1>Subjects</h1>

<%= render 'subjects/search', {value: ''} %>

<hr />

<h3>Explore some popular subjects</h3>

<% if @highlighted_subjects.length > 0 %>

<% @highlighted_subjects.in_groups_of(3) do |group| %>

<div class="row search-result">
<% group.each do |subject| %>
	<div class="four columns">

<% if subject %>
		<h5><%= link_to subject.label, subject %></h5>
		<p>

	<% if subject.description %>
			<%= truncate(subject.description, length: 100, separator: ' ') %>
			<br> 
	<% end %>

	<% if subject.wellcome_intro %>
			<%= truncate(strip_tags(subject.wellcome_intro), length: 100, separator: ' ') %>
			<br>
	<% end %>

			<small>
				<%= number_with_delimiter(subject.digitized_records_count) %>
				of 
				<%= number_with_delimiter(subject.records_count) %>
				things digitised
			</small> 
		</p>
<% end %>
	</div>
<% end %>
</div>
<% end %>
<% end %>
