<% content_for :title, "Subjects" %>

<h1>Subjects</h1>

<%= render 'subjects/search', {value: ''} %>

<% if @highlighted_subjects.length > 0 %>

  <% @highlighted_subjects.in_groups_of(4) do |group| %>
    <div class="row">
      <% group.each do |subject| %>
        <div class="three columns">

          <% if subject %>
            <p>
              <%= link_to subject.label, subject %><br>

              <% if subject.wellcome_intro %>
                <%= truncate(subject.wellcome_intro, length: 30, separator: ' ') %><br>
              <% end %>
              <%= pluralize_with_delimiter(subject.records_count, 'thing') %>
            </p>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

<% end %>

<ol start="<%= @from + 1 %>">
  <% @top_subjects.each do |subject| %>
    <li><%= link_to subject.label, subject %> – <%= pluralize_with_delimiter(subject.records_count, 'thing') %></li>
  <% end %>
</ol>

<!-- Pagination -->

<div class="row pagination">
  <div class="four columns">&nbsp;</div>
  <div class="four columns center">
    <% unless @from == 0 %>
      <%= link_to "Previous", subjects_path(from: @from - @per_page), class: 'button' %>
    <% end %>
    <%= link_to "Next", subjects_path(from: @from + @per_page), class: 'button' %>
    <br />
    <small><%= number_with_delimiter(@total_subjects_count) %> subjects &bull; Page <%= (@from.to_i / @per_page).round + 1 %> of <%= number_with_delimiter((@total_subjects_count.to_f / @per_page).floor) %></small>
  </div>
  <div class="four columns">&nbsp;</div>
</div>
