<% content_for :title, "Subjects" %>
<h1>Subjects</h1>

<%= form_tag subjects_lookup_index_path, method: :get, enforce_utf8: false do %>
  <%= search_field_tag :label, '', autocomplete: 'off', class: 'subjects-search' %>
  <%= content_tag 'button', "lookup" %>
<% end %>

<ol>
  <% @top_subjects.each do |subject| %>
    <li><%= link_to subject.label, subject %> – <%= pluralize_with_delimiter(subject.records_count, 'thing') %></li>
  <% end %>
</ol>

<!-- Pagination -->

<div class="row pagination">
  <div class="four columns">&nbsp;</div>
  <div class="four columns center">
    <button>Previous</button>&nbsp;&nbsp;<button>Next</button>
    <br />
    <small>246,345 results &bull; Page 2 of 4,567</small>
  </div>
  <div class="four columns">&nbsp;</div>  
</div>
