<% content_for :title, @subject.label %>

<% content_for :head do %>
  <meta name="twitter:card" content="summary" />
  <meta property="og:type" content="article" />

  <meta name="twitter:title" content="<%= @subject.label %>" />
  <meta property="og:title" content="<%= @subject.label %>" />

  <% if @subject.description %>
    <meta name="twitter:description" content="<%= @subject.description %>" />
    <meta property="og:description" content="<%= @subject.description %>" />
  <% end %>

  <meta property="og:url" content="<%= subject_url(@subject) %>" />
<% end %>

<% if @trees.length > 0 %>
<div class="row" style="padding-bottom:20px;">
  <div class="two columns">
	<small>SUBJECT TREE</small>
  </div>
  <div class="ten columns">
      <% @trees.each do |tree| %>
          &bull;
          <%= tree.collect do |subject| %>
            <% link_to subject.label, subject %>
          <% end.join(" &rarr; ").html_safe %>
          <br />
      <% end %>
  </div>
</div>
<% end %>


<div class="row">
  <div class="twelve columns">
    <h1><%= @subject.label %></h1>
  </div>
</div>

<% if @subject.description %>
<div class="row">
	<div class="twelve columns big">
    		<p>
    			<%= @subject.description %>
		        <small><a href="https://wellcome-mesh-browser.herokuapp.com/<%= @subject.identifiers['mesh'] %>" title="View this subject in the Medical Subject Headings browser">MeSH</a></small>
    		</p>
	</div>
</div>
<% end %>

<% if @subject.wellcome_intro %>
  <p><%= @subject.wellcome_intro %></p>
<% end %>

<% if logged_in_as_admin? %>
  <%= link_to 'Edit introduction', subject_intro_path(@subject) %>
<% end %>

<% if @year_counts.length > 0 %>
  <%= render 'by_year', years: @year_counts %>
<% end %>


<br clear="all" />

<% if @related_subjects.length > 0 %>
<div class="row breathe">
  <div class="three columns right">
    <h6>Often Seen With</h6>
  </div>
  <div class="nine columns">
    <p>
      <%= @related_subjects.collect do |subject| %>
        <% link_to subject.label, subject_path(subject) %>
      <% end.to_sentence.html_safe %>
    </p>
  </div>
</div>
<% end %>

<% if @narrower_subjects.length > 0 %>
<div class="row breathe">
  <div class="three columns right">
    <h6>Go More Specific</h6>
  </div>
  <div class="nine columns">
    <p>
      <%= @narrower_subjects.collect do |subject| %>
        <% link_to subject.label, subject_path(subject) %>
      <% end.to_sentence.html_safe %>
    </p>
  </div>
</div>
<% end %>

<% if @subject.id == 21975 %>
  <%= render 's21975.html' %>
<% end %>



<% if @people_whove_written_about_it.length > 0 %>
  <h2 style="clear:both;">People who’ve made things about it</h2>

  <% @people_whove_written_about_it.each do |person| %>
  <div class="sm-circle">
    <% if person.wikipedia_image %>
      <% style = "background-image: url('#{person.wikipedia_image}');" %>
    <% end %>
    <%= link_to person.name, person, class: 'sm-bg-link', style: style, title: pluralize(person.records_count, 'thing') %>
    <%= link_to person.name, person, class: 'sm-name', title: pluralize(person.records_count, 'thing') %>
  </div>
    <% end %>
<% end %>

<br clear="all" /><br clear="all" />

<div class="row" style="clear:both;">
  <div class="six columns">
    <h2><%= pluralize(@subject.records_count, 'thing') %></h2>
  </div>
  <div class="three columns right lil-vis">
    <small>
      <%= percentage_with_varying_accuracy(@subject.digitized_records_count.to_f / @subject.records_count) %>  digitised
    </small>
  </div>
  <div class="three columns lil-vis">
		<div class="digitised">
			<div class="percent-done" style="width: <%= (100 * @subject.digitized_records_count.to_f / @subject.records_count) %>%;">&nbsp;</div>
		</div>
  </div>
</div>

<% @things.each do |thing| %>
  <div class="cover-box">
    <div class="cover">
      <%= link_to thing_path(thing) do %>
        <% if thing.cover_image_url %>
          <%= image_tag thing.cover_image_url(150,300) %>
        <% else %>
          <%= thing.title %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<br clear="all" />
<div class="row nerds" style="clear: both;">
  <div class="two columns">
    <h5>Data & IDs</h5>
  </div>
  <div class="ten columns">
    <table>
      <% @subject.identifiers.each_pair do |key, value| %>
        <tr>
          <td><%= key %></td>
          <td><%= value %></td>
      <% end %>
    </table>
  </div>
</div>

<%= link_to "JSON view", subject_path(@subject, format: :json) %>