<div class="row">
  <div class="six columns"><h1><%= @subject.label %></h1></div>
  <div class="three columns right lil-vis">
    <small>
      <%= pluralize(@subject.records_count, 'thing') %> &bull;
      <%= percentage_with_varying_accuracy(@digitized_count.to_f / @subject.records_count) %>  digitised
    </small>
  </div>
  <div class="three columns lil-vis">
		<div class="digitised" style="height:5px;background-color:black; margin-top:10px;">
			<div class="percent-done" style="background-color:orange; height:5px; width: 64px;float:left;">&nbsp;</div>
		</div>
  </div>
</div>

<% if @subject.description %>
<div class="row">
	<div class="twelve columns big">
    <p><%= @subject.description %></p>
	</div>
</div>
<% end %>

<div class"row">
  <div class="nine columns">
    <div class="pub-history-graph" style="width:100%;background-color:grey;height:120px;">Publishing history graph</div>
  </div>
  <div class="three columns">
    <p>
      This graph shows when books at Wellcome on this subject were published. <br />
      <small>White tip = digitised version</small>
    </p>
  </div>
</div>

<% if @related_subjects.length > 0 %>
<br clear="all" />
<div class="row">
  <div class="three columns">
    <h5>Related Subjects</h5>
  </div>
  <div class="nine columns big">
    <p>
      <%= @related_subjects.collect do |subject| %>
        <% link_to subject.label, subject_path(subject) %>
      <% end.to_sentence.html_safe %>
    </p>
  </div>
</div>
<% end %>

<% if @people_whove_written_about_it.length > 0 %>
  <h2 style="clear:both;">People who’ve written about it</h2>

  <ul>
    <% @people_whove_written_about_it.each do |person| %>
      <li><%= link_to person.name, person_path(person) %> (<%= pluralize_with_delimiter(person.count, 'thing') %>)</li>
    <% end %>
  </ul>
<% end %>

<h2>Things about it</h2>
<% @things.each do |thing| %>
  <div class="cover-box">
    <div class="cover">
      <%= link_to thing_path(thing) do %>
        <% if thing.image_service_urls.length > 0 %>
          <%= image_tag thing.image_service_urls.first + "/full/!150,300/0/default.jpg" %>
        <% else %>
          <%= thing.title %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="three columns">
    <h4>Identifiers</h4>
  </div>
  <div class="nine columns">
    <table>
      <% @subject.identifiers.each_pair do |key, value| %>
        <tr>
          <td><%= key %></td>
          <td><%= value %></td>
      <% end %>
    </table>
  </div>
</div>
