<h1><%= @subject.label %></h1>

<% if @subject.description %>
  <p><%= @subject.description %></p>
<% end %>

<h2>Things sbout this subject</h2>
<% @things.each do |thing| %>
  <div class="cover-box">
    <div class="cover">
      <%= link_to thing_path(thing) do %>
        <% if thing.image_service_urls.length > 0 %>
          <%= image_tag thing.image_service_urls.first + "/full/!150,300/0/default.jpg" %>
        <% else %>
          <%= thing.title %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<h2 style="clear:both;">People who’ve written about it</h2>

<ul>
  <% @people_whove_written_about_it.each do |person| %>
    <li><%= link_to person.name, person_path(person) %> (<%= pluralize_with_delimiter(person.count, 'thing') %>)</li>
  <% end %>
</ul>

<h2 style="clear:both;">Identifiers</h2>

<table>
  <% @subject.identifiers.each_pair do |key, value| %>
    <tr>
      <td><%= key %></td>
      <td><%= value %></td>
  <% end %>
</table>
