<%= form_tag people_lookup_index_path, method: :get, enforce_utf8: false do %>
  <%= search_field_tag :name, @name, autocomplete: 'off', class: 'people-search' %>
  <%= content_tag 'button', "lookup" %>
<% end %>

<ul class="results">
  <% @people.each do |person| %>
    <li>

      <%= link_to person, class: 'portrait' do %>
        <% if person.wikipedia_image %>
          <div class="person-mini-portrait" style="background-image: url('<%=  person.wikipedia_image %>');"></div>
        <% else %>
          <div class="person-mini-portrait">&nbsp;</div>
        <% end %>
      <% end %>

      <%= link_to person.name, person %> - <%= pluralize_with_delimiter(person.records_count, 'thing') %>

    </li>
  <% end %>
</ul>

<!-- Pagination -->

<div class="row pagination">
  <div class="four columns">&nbsp;</div>
  <div class="four columns center">
    <button>Previous</button>&nbsp;&nbsp;<button>Next</button>
    <br />
    <small>246,345 results &bull; Page 2 of 4,567</small>
  </div>
  <div class="four columns">&nbsp;</div>  
</div>
