<% content_for :title, "Person Search" %>


<h1>People</h1>

<%= render 'people/search', {value: @name} %>

<hr />

<% if @total_count.zero? %>
  <p>Sorry, we couldn’t find anyone named <b><%= @name %></b>. Would you like to try <a href="/people/P2802">Henry Wellcome</a>?</p>
<% else %>
  <ul class="results">
    <% @people.each do |person| %>
      <li>

        <%= link_to person, class: 'portrait' do %>
          <% if person.wikipedia_image %>
            <div class="person-mini-portrait" style="background-image: url('<%=  person.wikipedia_image(40) %>'); background-color: yellow;"></div>
          <% else %>
            <div class="person-mini-portrait">&nbsp;</div>
          <% end %>
        <% end %>

        <%= link_to person.name, person %>
        <% if person.born_in || person.died_in %>
          <span class="dates">&bull; <%= person.born_in %>-<%= person.died_in %></span>
        <% end %>

        <small><%= pluralize_with_delimiter(person.records_count, 'thing') %></small>

      </li>
    <% end %>
  </ul>
<% end %>

<!-- Pagination -->

<% unless @total_count.zero? %>
  <div class="row pagination">
    <div class="four columns">&nbsp;</div>
    <div class="four columns center">

      <% if @from > 0 %>
        <%= link_to "Previous", people_lookup_index_path(name: @name, from: (@from - @per_page), limit: @per_page), class: 'button' %>
      <% end %>

        &nbsp;&nbsp;

      <% if (@from + @per_page) < (@total_count) %>
        <%= link_to 'Next', people_lookup_index_path(name: @name, from: (@from + @per_page), limit: @per_page), class: 'button' %>
      <% end %>

      <br />
      <small><%= pluralize_with_delimiter(@total_count, 'result') %>
        &bull; Page <%= (@from.to_f / @per_page).floor + 1 %> of
        <%= (@total_count.to_f / @per_page).ceil %>
      </small>
    </div>
    <div class="four columns">&nbsp;</div>
  </div>
<% end %>
