<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> | Alpha Wellcome Library</title>
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic&subset=latin,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="robots" content="noindex">
  <meta description="This is the alpha, experimental version of a new Wellcome Library catalogue explorer. We hope you enjoy it!">

  <meta name="twitter:site" content="@wellcomelibrary">

  <%= yield :head %>
 
  <script>
  	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  	ga('create', 'UA-72220271-1', 'auto');
  	ga('send', 'pageview');
  </script>

</head>
<body>

  <a name="top" style="display:none;"></a>
  <div class="container">
    <div class="row nav">

    	<div class="three columns logo"><a href="/" alt="wellcome logo"><%= image_tag "wellcome-logo.png" %></a></div>
      	<div class="nine columns alpha-note">
      		<span>ALPHA</span>&nbsp;&nbsp;<small><a href="">What's this</a>?</small>
      	</div>
    </div>
    <div class="row subnav">
      	<div class="six columns">
        	<a href="/">Home</a>&nbsp;&nbsp;<a href="/people">People</a>&nbsp;&nbsp;<a href="/subjects">Subjects</a>
      	</div>
      	<div class="six columns right">

        <% if current_user %>
          Aloha, <span class="is-admin">Editor</span>
          &nbsp;&bull;&nbsp;
          <%= link_to "Recent changes", recent_changes_path, class: 'is-admin' %>
          <%= link_to "Editors", users_path, class: 'is-admin' %>
          &nbsp;&bull;&nbsp;          
          <%= form_tag session_path, method: 'delete', class: 'inline' do %><button type="submit" class="link">Log out</button><% end %>
        <% else %>
          <%= link_to "Log in", new_session_path %>
        <% end %>
      	</div>
    </div>

<%= yield %>

  </div>

  <div class="container">
	  <div class="row footer">
		<div class="two columns top"><a href="#top">&uarr; Top</a></div>
		<div class="ten columns" style="padding-right: 10px;">
		  <small>PLEASE NOTE: All author images and biographies come from <a href="http://wikipedia.org">Wikipedia</a>. Most are in the public domain, but please check Wikipedia for specific attribution details.</small>
		</div>
	  </div>
  </div>


</body>
</html>
