<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> | Wellcome Week 4: Scalability</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:700|Lora|Inconsolata" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="robots" content="noindex">
  <meta description="Welcome to Week 4 of What's In The Library. A four-week, rapid fire digital prototyping project by Good, Form & Spectacle, in partnership with the good folk at Wellcome Library.">
  <%= yield :head %>
</head>
<body>
  <a name="top" style="display:none;"></a>
  <div class="container">
    <div class="row nav">
      <div class="nine columns">
        Wellcome Library Alpha
      </div>
      <div class="three columns right">
      </div>
    </div>
    <div class="row">
      <div class="twelve columns subnav">
        <a href="/">Home</a>&nbsp;&nbsp;<a href="/people">People</a>&nbsp;&nbsp;<a href="/subjects">Subjects</a>
      </div>
    </div>

<%= yield %>

  </div>

  <div class="container">
    <div class="row footer">
      <div class="one column"></div>
      <div class="eight columns"></div>
      <div class="three columns right"></div>
    </div>
  <div class="row">
    <div class="one column">&nbsp;</div>
    <div class="ten columns">
      <p><small>PLEASE NOTE: All author images and biographies come from <a href="http://wikipedia.org">Wikipedia</a>. Most are in the public domain, but please check Wikipedia for specific attribution details.</small></p>
    </div>
    <div class="one column">&nbsp;</div>
  </div>
  </div>


</body>
</html>
