<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> | Alpha Wellcome Library</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:700|Lora|Inconsolata" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="robots" content="noindex">
  <meta description="This is the alpha, experimental version of a new Wellcome Library catalogue explorer. We hope you enjoy it!">

  <!-- Chloe's twitter card experiment -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@wellcomelibrary">
  <meta name="twitter:creator" content="@goodformand">
  <meta name="twitter:title" content="This will be the title of something">
  <meta name="twitter:description" content="This will be some exciting description">
  <meta name="twitter:image" content="http://wellcomelibrary.org/content/events/event-images/54121.jpg">

  <%= yield :head %>
</head>
<body>

  <a name="top" style="display:none;"></a>
  <div class="container">
    <div class="row nav">
    	<div class="two columns logo">
   	    <a href="/" alt="wellcome logo"><%= image_tag "wellcome-logo.png" %></a>
      </div>
      <div class="ten columns alpha-note">
        <span>ALPHA</span>
      </div>
    </div>
    <div class="row subnav">
      <div class="six columns">
        <a href="/">Home</a>&nbsp;&nbsp;<a href="/people">People</a>&nbsp;&nbsp;<a href="/subjects">Subjects</a>
      </div>
      <div class="six columns subnav right">

        <% if current_user %>
          Logged in <%= form_tag session_path, method: 'delete', class: 'inline' do %><button type="submit" class="link">Logout</button><% end %>
        <% else %>
          <%= link_to "Log in", new_session_path %>
        <% end %>
      </div>
    </div>

<%= yield %>

  </div>

  <div class="container">
	  <div class="row footer">
		<div class="two columns top"><a href="#top">&uarr; Top</a></div>
		<div class="ten columns">
		  <small>PLEASE NOTE: All author images and biographies come from <a href="http://wikipedia.org">Wikipedia</a>. Most are in the public domain, but please check Wikipedia for specific attribution details.</small>
		</div>
	  </div>
  </div>


</body>
</html>
